/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color:#353430;
    --accent-hover-color:#32312D66;
    --link-color:#353430;
    --title-decor:#FF8DCB;
    --bg-image:url('../images/cover-image-light.png');
    --footer-color:#FFC2E6;
    --footer-shadow-color:#FF0070;
    --main-color:#FFF1F7;
    --main-bg-color:#FFF1F7;
    --rec-color:transparent;
    --rec-border-color:#353430;
    --main-header-color:#FFC2E6;
    --main-header-shadow:#FF8DCB;
    --main-title-color:#353430;
    --main-paragraph-color:#353430;
    --link-shadow-color:#FF8DCB;
  }
}

:root.theme-light {
  --accent-color:#353430;
  --accent-hover-color:#32312D66;
  --link-color:#353430;
  --title-decor:#FF8DCB;
  --bg-image:url('../images/cover-image-light.png');
  --footer-color:#FFC2E6;
  --footer-shadow-color:#FF0070;
  --main-color:#FFF1F7;
  --main-bg-color:#FFF1F7;
  --rec-color:transparent;
  --rec-border-color:#353430;
  --main-header-color:#FFC2E6;
  --main-header-shadow:#FF8DCB;
  --main-title-color:#353430;
  --main-paragraph-color:#353430;
  --link-shadow-color:#FF8DCB;
}